a {
  text-decoration: none;
}
/* navigation menu */

#menuicon {
  position: fixed;
  z-index: +7;
  top: 15px;
  left: 15px;
  transform: rotate(0deg);
}

.icon {
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: #00a160;
}

#menuicon:hover {
  cursor: pointer;
  cursor: hand;
}

#menu {
  position: fixed;
  z-index: +7;
  top: 10vh;
  left: 15px;
  height: 290px;
  width: 150px;
  background-color: white;
  display: none;
}

#menu p {
  position: relative;
  left: 20px;
  font-family: Garamond;
  font-size: 16px;
  margin-top: 20px;
  color: #00a160;
}

#menu p:hover {
  left: 40px;
  cursor: pointer;
  cursor: hand;
}

/* content */

.event {
  position: relative;
  width: 900px;
  height: 450px;
  left: 100px;
  background-color: white;
  border: 1px solid grey;
  margin-top: 60px;
  z-index: +2;
}

#walk_through_4 {
  margin-bottom: 100px;
}

#year {
  font-size: 16px;
  font-family: Garamond;
  position: fixed;
  top: 200px;
  right: 100px;
  width: 100px;
  padding: 5px;
  background-color: #00a160;
  color: white;
  z-index: +3;
}

#time {
    font-size: 16px;
    font-family: Garamond;
    position: fixed;
    top: 200px;
    right: 0px;
    width: 80px;
    padding: 5px;
    background-color: #00a160;
    color: white;
    z-index: +3;
}
