/* navigation menu */

#menuicon {
  position: fixed;
  z-index: +7;
  top: 15px;
  left: 15px;
  transform: rotate(0deg);
}

.icon {
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: #00a160
}

#menuicon:hover {
  cursor: pointer;
  cursor: hand;
}

#menu {
  position: fixed;
  z-index: +7;
  top: 10vh;
  left: 15px;
  height: 600px;
  width: 200px;
  background-color: white;
  border: 1px solid grey;
  display: none;

}

/* scroll */



#just-a-spacer{
   height:2700px;
}


.time {
  font-size: 16px;
  font-family: Garamond;
  position: absolute;
  z-index: +5;
  right: 0px;
  width: 200px;
  padding: 5px;
  background-color: #00a160;
  color: white;
}

#current {
  top: 1100px;
}

#past {
  top: 100px
}

#upcoming {
  top: 2100px;
}


/*div start position*/


.exhibition {
  position:fixed;
  left: -100vw;
}

#exploratory_works{
  width: 350px;
}

#marginalia{
  width: 450px;
}

#jackie_ferrara{
  width: 250px;
}

#gary_simmons{
  width: 300px;
}

#amy_sillman {
  width: 300px;
}

#jackson_mac_low {
  width: 240px;
}

#mateo {
  width: 400px;
}

#where {
  width: 300px;
}

.title {
  font-family: Garamond;
  font-size: 16px;
  color: white;
  background-color: #00a160;
  padding: 5px;
  display: none;
}

.exhibition:hover {
  z-index: +4;
  cursor: pointer;
  cursor: hand;
}


/* info */

.info {
  font-family: Garamond;
  width: 900px;
  height: 85vh;
  background-color: white;
  z-index: +6;
  position: fixed;
  left: -1000px;
  top: 10vh;
  display: none;
}

h1 {
  font-weight: normal;
  position: relative;
  font-family: Garamond;
  font-size: 28px;
  left: 35px;
  top: 0px;
  padding: 5px;
  padding-left: 28px;
  background-color: #00a160;
  color: white;
}

h2 {
  font-family: Garamond;
  font-weight: bold;
  font-size: 14px;
  color: #00a160;
  position: relative;
  top: 5px;
  left: 63px;
}

.close {
  position: relative;
  top: 5px;
  left: 870px;
  font-family: Garamond;
  font-size: 28px;
  color: #00a160;
  width: 20px;
  height: 30px;
}

.close:hover {
  cursor: pointer;
  cursor: hand;
}

p {
  font-family: Garamond;
  font-size: 16px;
  width: 280px;
  margin-top: 0;
}

.scroll {
  position: relative;
  overflow-x: auto;
  width: 780px;
  left: 63px;
  top: -35px;
}

.text1 {
  width: 280px;
  height: 410px;
  position: relative;
  top: 70px;
  left: 0px;
}

.text2 {
  width: 280px;
  height: 410px;
  position: relative;
  top: -340px;
  left: 307px;
}

.more {
  position: relative;
  height: 410px;

  top: -760px;
  left: 677px;
}

.moreimage {
  display: inline-block;
  height: 410px;
}

#amy_sillman_image {
  width: 2660px;
}

.image {
  display: inline-block;
  width: 100%;
}

span {
  font-style: italic;
}

/* background */

#pattern {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
  height: 100px;
  background-color: white;
}

.line {
  position: relative;
  width: 100vw;
  height: 2px;
  background-color: #dfdfdf;
  margin-top: 1.5vh;
}

#line500 {
  position: absolute;
  top: 500px;
  background-color: red;
}
#line1000 {
  position: absolute;
  top: 1000px;
  background-color: red;
}
#line1500 {
  position: absolute;
  top: 1500px;
  background-color: red;
}
#line2000 {
  position: absolute;
  top: 2000px;
  background-color: red;
}
#line2500 {
  position: absolute;
  top: 2500px;
  background-color: red;
}
