
/* title */

#circle {
  position: absolute;
  z-index: +4;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
}

#center {
  position: absolute;
  z-index: +5;
  float: left;
  color: #00a160;
  font-family: Gill Sans;
  font-weight: lighter;
}

#info {
  position: fixed;
  bottom: 20px;
  right: 10px;
  font-family: Garamond;
  color: #00a160;

}
