/*general style*/

#exhibitions {
  position: absolute;
  background-color: grey;
}

#just-a-spacer{
   height:2700px;
}


.time {
  font-size: 16px;
  font-family: Garamond;
  position: absolute;
  z-index: +5;
  right: 0px;
  width: 200px;
  padding: 5px;
  background-color: #00a160;
  color: white;
}

#current {
  top: 1100px;
}

#past {
  top: 100px
}

#upcoming {
  top: 2100px;
}


/*div start position*/

img {
  width: 100%;
}

.exhibition {
  position:fixed;
}

#exploratory_works{
  left: 10%;
  width: 350px;
}

#marginalia{
  left: 25%;
  width: 450px;
}

#jackie_ferrara{
  left: 45%;
  width: 250px;
}

#gary_simmons{
  left: 65%;
  width: 300px;
}

#amy_sillman {
  left: 15%;
  width: 300px;
}

#jackson_mac_low {
  left: 35%;
  width: 240px;
}

#mateo {
  left: 50%;
  width: 400px;
}

#where {
  left: 40%;
  width: 300px;
}

.title {
  font-family: Garamond;
  font-size: 16px;
  color: white;
  background-color: #00a160;
  padding: 5px;
  display: none;
}

.exhibition:hover {
  z-index: +4;
}


/* info */

.info {
  font-family: Garamond;
  width: 30vw;
  height: 90vh;
  background-color: white;
  z-index: +3;
  position: fixed;
  left: -40vw;
  top: 5vh;
  overflow-x: auto;
}

h1 {
  font-weight: normal;
  position: relative;
  font-size: 28px;
  left: 3vw;
  top: 5vh;
  padding: 5px;
  padding-left: 2vw;
  background-color: #00a160;
  color: white;
}

h2 {
  font-family: Garamond;
  font-weight: bold;
  font-size: 14px;
  color: #00a160;
  position: relative;
  top: 6vh;
  left: 5vw;
}

p {
  font-size: 16px;
  width: 20vw;
  margin-top: 0;
}

.text {
  width: 22vw;
  position: relative;
  top: 8vh;
  left: 5vw;
  overflow-y: auto;
  height: 60vh;
}

.pic {
  position: fixed;
  top: 5vh;
  left: 40vw;
  height: 90vh;
  width: 30vw;
  background-color: white;
  overflow-y: auto;
}

.img {
  display: inline-block;
}

/* background */

#pattern {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
  height: 100px;
  background-color: white;
}

.line {
  position: relative;
  width: 100vw;
  height: 2px;
  background-color: #dfdfdf;
  margin-bottom: 1.5vh;
}

#line500 {
  position: absolute;
  top: 500px;
  background-color: red;
}
#line1000 {
  position: absolute;
  top: 1000px;
  background-color: red;
}
#line1500 {
  position: absolute;
  top: 1500px;
  background-color: red;
}
#line2000 {
  position: absolute;
  top: 2000px;
  background-color: red;
}
#line2500 {
  position: absolute;
  top: 2500px;
  background-color: red;
}
