.event {
  position: relative;
  width: 900px;
  height: 450px;
  left: 100px;
  background-color: white;
  border: 1px solid grey;
  margin-top: 60px;
  z-index: +2;
}

#walk_through_4 {
  margin-bottom: 100px;
}

#year {
  font-size: 16px;
  font-family: Garamond;
  position: fixed;
  top: 200px;
  right: 100px;
  width: 100px;
  padding: 5px;
  background-color: #00a160;
  color: white;
}

#time {
    font-size: 16px;
    font-family: Garamond;
    position: fixed;
    top: 200px;
    right: 0px;
    width: 80px;
    padding: 5px;
    background-color: #00a160;
    color: white;
}
