a {
  text-decoration: none;
}

/* navigation menu */

#menuicon {
  position: fixed;
  z-index: +7;
  top: 15px;
  left: 15px;
  transform: rotate(0deg);
  margin: 0;
}

.icon {
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: #00a160;
}

#menuicon:hover {
  cursor: pointer;
  cursor: hand;
}

#menu {
  position: fixed;
  z-index: +7;
  top: 10vh;
  left: 15px;
  height: 290px;
  width: 150px;
  background-color: white;
  display: none;
}

#menu p {
  position: relative;
  left: 20px;
  font-family: Garamond;
  font-size: 16px;
  margin-top: 20px;
  color: #00a160;
}

#menu p:hover {
  left: 40px;
  cursor: pointer;
  cursor: hand;
}

/* scroll */

#scroll {
  position: absolute;
  width: 500vw;
  height: 90vh;
  left: 0px;
  top: 9.4vh;
  background-color: green;
}

.item {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 90vh;
  margin: 0;
}

.item img {
  height: 100%;
}

.item img:hover {
  cursor: pointer;
  cursor: hand;
}

.item:hover {
  z-index: +2;
}

.info {
  width: 360px;
  height: 90vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 400px;
  display: none;
  z-index: -1;
}

.close {
  position: relative;
  top: 5px;
  left: 320px;
  font-family: Garamond;
  font-size: 28px;
  color: #00a160;
  width: 20px;
  height: 30px;
}

.close:hover {
  cursor: pointer;
  cursor: hand;
}
